.mui-jlearner-card-logo{
	text-align: center;
	width: 100vw;
	position: absolute;
	bottom: .9em;
}
.mui-jlearner-card-logo img{
	display: inline-block;
	width: 70%;
}
.mui-jlearner-card-content{
	background-color: rgb(245,245,245);
	padding: 1.5em 2em;
	border-radius: 50px;
	width: 85%;
	margin: 4em auto 0;
	position: relative;
}
.mui-jlearner-card-recommend img{
	width: 35vw;
	height: 10vh;
}
.mui-jlearner-card-recommend{
	position: absolute;
	right: -.9em;
}
.mui-jlearner-card-japanese p{
	font-size: 1.2em;
	font-weight: bold;
}
.mui-jleaener-card-chinese{
	margin-top: 1.5em;
}
.mui-jleaener-card-chinese p{
	font-size: .8em;
	font-style: italic;
}
