<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/basic.css" rel="stylesheet" />
		<link href="css/jlearnerBar.css" rel="stylesheet" />
		<link href="css/iconfont.css" rel="stylesheet" />
		<link href="css/jlearnerForm.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-jlearner-bar">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">登录JLearner</h1>
		</header>
		<div class="mui-content" id="jlearner-login">
			<form class="mui-input-group mui-jlearner-form">
				<div class="mui-input-group">
					<div class="person-photo">
						<img :src="userPhoto" />
					</div>
				</div>
				<div class="mui-input-row" :class="{'mui-input-row-active':isActive.isPhoneNumberActive,'mui-input-row-success':isPhoneNumberSuccess,'mui-input-row-error':isPhoneNumberError}">
					<input id='phone-number' @input="inputRowInput_UserPhoto();" @focus="inputRowFocus($event);" @blur="inputRowBlur($event);" type="text" v-model="phoneNumber" class="mui-input" placeholder=" 请输入手机号码">
					<i class="iconfont icon-dianhuahaoma"></i>
				</div>
				<div class="mui-input-row mui-input-prompt" v-if="isPromptPhoneNumber">
					<p>你输入的手机号码格式不正确。</p>
				</div>
				<div class="mui-input-row" :class="{'mui-input-row-active':isActive.isPasswordActive,'mui-input-row-success':isPasswordSuccess,'mui-input-row-error':isPasswordError}">
					<input id='password' @focus="inputRowFocus($event);" @blur="inputRowBlur($event);" type="password" v-model="password" class="mui-input-password mui-input" placeholder=" 设置密码（8-20位字符）">
					<i class="iconfont icon-mima"></i>
				</div>
				<div class="mui-input-row mui-input-prompt" v-if="isPromptPassword">
					<p>你输入的密码格式不正确。密码格式：以字母开头，长度在8~20之间，只能包含字符、数字和下划线。</p>
				</div>
			</form>
			<div class="mui-content-padded" style="background-color: white;">
				<button id='login' type="button" data-loading-text="JLearner" class="mui-btn mui-btn-block mui-btn-primary" @tap="loginJLearner();">登 录</button>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/login.js"></script>
	</body>

</html>